.cpyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f1f1f1;
  font-size: 14px;
  color: #333;
}

.cpyright span {
  margin-left: 5px;
}
